#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--md-sys-color-surface-container);
    > a {
        font-weight: bold;
        font-size: 1.3rem;
        margin-left: 5px;
        color: var(--md-sys-color-on-surface);
    }
    #icons-row {
        margin-right: 20px;
    }
}

#content {
    padding: 70px 10px 40px 10px;
}

#greeting {
    width: max-content;
    margin: 0 auto;
    > div {
        background-color: var(--md-sys-color-surface-variant);
        padding: 8px;
        border-radius: 6px;
        margin: 8px 0;
        > button {
            margin-left: 4px;
        }
    }
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}
tr {
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

td, th {
    padding: 0.5rem;
}

th {
    text-align: start;
}

td.details {
    white-space: pre-wrap;
    > pre {
        white-space: pre-wrap;
    }
}

dialog {
    &[open] {
        display: flex;
        flex-direction: column;
    }
    min-width: 200px;
    max-height: 85%;
    border: none;
    border-radius: 20px;
    background: var(--md-sys-color-surface-container);
    > div:not(.buttons-row) {
        overflow-y: auto;
        > h2 {
            margin-block-start: 10px;
        }
    }
    .buttons-row {
        align-self: end;
        margin-top: 20px;
    }
    &::backdrop {
        backdrop-filter: blur(2px);
    }
}

#filters {
    h3 {
        margin: 5px 0 10px 0;
    }
    .columns, .levels, .types {
        margin-bottom: 10px;
        > div {
            display: inline-block;
            margin-right: 5px;
        }
    }
    :is(.columns, .levels, .tags, .types) > div > * {
        vertical-align: middle;
    }
    .tags > div {
        margin-bottom: 5px;
        input {
            margin-right: 5px;
        }
    }
    label > span:last-child {
        margin-left: 3px;
    }
}

