#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--md-sys-color-surface-container);
    > a {
        font-weight: bold;
        font-size: 1.3rem;
        margin-left: 5px;
        color: var(--md-sys-color-on-surface);
    }
    #pager {
        display: inline-flex;
        align-items: center;
        span {
            cursor: pointer;
            margin: 0 5px;
        }
    }
    #icons-row {
        margin-right: 20px;
    }
}

#pager-dialog {
    label {
        margin-bottom: 5px;
    }
}

body > div.content {
    padding: 70px 10px 40px 10px;
    &:not(.active) {
        display: none;
    }
}

#greeting-view {
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--md-sys-color-surface-variant);
        padding: 10px;
        border-radius: 6px;
        margin: 8px 0;
        > button {
            margin-left: 8px;
            width: 100px;
        }
    }
}

#security-logs-view, #network-logs-view {
    table {
        border-collapse: collapse;
        margin: 0 auto;
    }
    tr {
        border-bottom: 1px solid var(--md-sys-color-outline-variant);
    }
    td, th {
        padding: 0.5rem;
    }
    th {
        text-align: start;
    }
    td.details {
        white-space: pre-wrap;
        > pre {
            white-space: pre-wrap;
        }
    }
    dialog {
        h3 {
            margin: 5px 0 10px 0;
        }
        .columns, .levels, .types {
            margin-bottom: 10px;
            > div {
                display: inline-block;
                margin-right: 5px;
            }
        }
        :is(.columns, .levels, .tags, .types) > div > * {
            vertical-align: middle;
        }
        .tags > div {
            margin-bottom: 5px;
            input {
                margin-right: 5px;
            }
        }
        label > span:last-child {
            margin-left: 3px;
        }
    }
}

#qr-code-view {
    width: 320px;
    margin: 0 auto;
    h3 {
        margin: 10px 0;
    }
    > .link {
        > label {
            display: block;
        }
        > textarea {
            width: 100%;
            height: 60px;
            resize: none;
        }
    }
    input, label {
        vertical-align: middle;
    }
    button.generate {
        display: block;
        width: 200px;
        margin: 20px auto;
    }
    canvas {
        display: block;
        margin: 0 auto;
    }
}

dialog {
    &[open] {
        display: flex;
        flex-direction: column;
    }
    min-width: 200px;
    max-height: 85%;
    border: none;
    border-radius: 20px;
    background: var(--md-sys-color-surface-container);
    > div:not(.buttons-row) {
        overflow-y: auto;
        > h2 {
            margin-block-start: 10px;
        }
    }
    .buttons-row {
        align-self: end;
        margin-top: 20px;
    }
    &::backdrop {
        backdrop-filter: blur(3px);
    }
}
