#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--md-sys-color-surface-container-high);

    > a {
        font-weight: bold;
        font-size: 1.3rem;
        margin-left: 5px;
        color: var(--md-sys-color-on-surface);
    }
    
    #icons-row {
        margin-right: 20px;
    }
}

logs-pager {
    display: inline-flex;
    align-items: center;

    > button.page {
        position: relative;
        margin: 0 2px;
        height: 35px;
        padding: 0 10px;
        border: none;
        border-radius: 10px;
        background-color: transparent;
        font-size: 15px;

        &::after {
            position: absolute;
            inset: 0;
            border-radius: 10px;
            content: "";
            background-color: var(--md-sys-color-primary);
            opacity: 0;
        }

        &:hover::after {
            opacity: 0.08;
        }
    }

    dialog {
        label {
            margin-bottom: 5px;
        }
    }
}

body > .screen {
    display: block;
    padding: 70px 10px 40px 10px;

    &:not(.active) {
        display: none;
    }
}

#greeting-view {
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;

    > div.entry {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--md-sys-color-surface-variant);
        padding: 10px;
        border-radius: 6px;
        margin: 8px 0;
        > button {
            margin-left: 8px;
            width: 100px;
        }
    }

    > p.notice {
        opacity: 0.7;
    }
}

security-logs-screen, network-logs-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    width: fit-content;
    box-sizing: border-box;

    table {
        border-collapse: collapse;
        margin: 0 auto;

        &.hide-id :is(th, td).id,
        &.hide-time :is(th, td).time,
        &.hide-level :is(th, td).level,
        &.hide-event :is(th, td).event,
        &.hide-details :is(th, td).details,
        &.hide-package :is(th, td).package,
        &.hide-type :is(th, td).type {
            display: none;
        }

        ul {
            margin: 0;
            padding-inline-start: 15px;

            > li {
                display: block;
            }
        }
    }

    tr {
        border-bottom: 1px solid var(--md-sys-color-outline-variant);
    }

    td, th {
        padding: 0.5rem;
    }

    th {
        text-align: start;
    }

    td.details {
        white-space: pre-wrap;
        > pre {
            white-space: pre-wrap;
        }
    }

    dialog {
        h3 {
            margin: 5px 0 10px 0;
        }

        > div.content {
            overflow-y: auto;
        }

        :is(.columns, .levels, .tags, .types) > div {
            display: inline-flex;
            align-items: center;

            > input {
                margin-right: 4px;
            }

            &:has(input:disabled) > label {
                opacity: 0.5;
            }
        }

        .columns, .levels, .types {
            margin-bottom: 10px;

            > div {
                margin-right: 5px;
            }
        }

        .tags > div {
            display: flex;
            margin-bottom: 5px;
        }

        label {
            > span:last-child {
                margin-left: 3px;
                font-size: 0.9em;
                opacity: 0.7;
            }
        }
    }
}

qr-code-screen {
    width: 320px;
    margin: 0 auto;
    h3 {
        margin: 10px 0;
    }
    > .link {
        > label {
            display: block;
        }
        > textarea {
            width: 100%;
            height: 60px;
            resize: none;
        }
    }
    input, label {
        vertical-align: middle;
    }
    button.generate {
        display: block;
        width: 200px;
        margin: 20px auto;
    }
    canvas {
        display: block;
        margin: 0 auto;
    }
}

settings-dialog {
    div.lang {
        display: flex;

        > svg {
            margin-right: 6px;
        }

        > div {
            > span {
                display: block;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 4px;
            }

            > div {
                display: flex;
                align-items: center;

                > label {
                    margin: 0px 8px 0 4px;
                }
            }
        }
    }
}

dialog:not([popover]) {
    &[open] {
        display: flex;
        flex-direction: column;
    }

    &::backdrop {
        background-color: rgb(from var(--md-sys-color-scrim) r g b / 0.2);
        backdrop-filter: blur(3px);
    }

    > h2 {
        margin: 5px 0 15px 0;
    }

    max-width: 800px;
    max-height: 85%;

    > div.buttons {
        align-self: flex-end;
        margin-top: 20px;
    }
}
