button:is(.filled, .tonal) {
    appearance: none;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

button.filled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    &:disabled {
        background-color: color-mix(in srgb, var(--md-sys-color-on-surface) 12%, transparent);
        color: color-mix(in srgb, var(--md-sys-color-on-surface) 38%, transparent);
    }
    &:hover:not(:disabled) {
        background-color: color-mix(in srgb, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 8%);
        color: color-mix(in srgb, var(--md-sys-color-on-primary), var(--md-sys-color-on-primary) 8%);
    }
    &:active:not(:disabled) {
        background-color: color-mix(in srgb, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 10%);
        color: color-mix(in srgb, var(--md-sys-color-on-primary), var(--md-sys-color-on-primary) 10%);
    }
}
button.tonal {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    &:hover:not(:disabled) {
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), var(--md-sys-color-on-secondary-container) 8%);
        color: color-mix(in srgb, var(--md-sys-color-on-secondary-container), var(--md-sys-color-on-secondary-container) 8%);
    }
    &:active:not(:disabled) {
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), var(--md-sys-color-on-secondary-container) 10%);
        color: color-mix(in srgb, var(--md-sys-color-on-secondary-container), var(--md-sys-color-on-secondary-container) 10%);
    }
}

