button.m3 {
    appearance: none;
    border: none;
    border-radius: 10px;
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

button.m3 {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    &:disabled {
        background-color: rgb(from var(--md-sys-color-on-surface) r g b / 0.12);
        color: rgb(from var(--md-sys-color-on-surface) r g b / 0.38);
    }
    &:hover:not(:disabled) {
        background-color: color-mix(in srgb, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 8%);
        color: color-mix(in srgb, var(--md-sys-color-on-primary), var(--md-sys-color-on-primary) 8%);
    }
    &:active:not(:disabled) {
        background-color: color-mix(in srgb, var(--md-sys-color-primary), var(--md-sys-color-on-primary) 10%);
        color: color-mix(in srgb, var(--md-sys-color-on-primary), var(--md-sys-color-on-primary) 10%);
    }
}
button.m3.tonal {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    &:hover:not(:disabled) {
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), var(--md-sys-color-on-secondary-container) 8%);
        color: color-mix(in srgb, var(--md-sys-color-on-secondary-container), var(--md-sys-color-on-secondary-container) 8%);
    }
    &:active:not(:disabled) {
        background-color: color-mix(in srgb, var(--md-sys-color-secondary-container), var(--md-sys-color-on-secondary-container) 10%);
        color: color-mix(in srgb, var(--md-sys-color-on-secondary-container), var(--md-sys-color-on-secondary-container) 10%);
    }
}

