input[type=checkbox].m3 {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid var(--md-sys-color-on-surface-variant);
    border-radius: 2px;
    background: transparent;
    &:hover {
        background-color: color-mix(in srgb, var(--md-sys-color-on-surface) 8%, transparent)
    }
    &:active {
        background-color: color-mix(in srgb, var(--md-sys-color-primary) 10%, transparent)
    }
    &::after {
        display: none;
        position: relative;
        content: "";
        width: 5px;
        height: 10px;
        left: 4px;
        border: solid var(--md-sys-color-on-primary);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    &:checked {
        &:hover {
            background-color: color-mix(in srgb, var(--md-sys-color-primary) 8%, var(--md-sys-color-primary));
        }
        &:active {
            background-color: color-mix(in srgb, var(--md-sys-color-on-surface) 10%, var(--md-sys-color-primary))
        }
        &::after {
            display: block;
        }
        border-color: var(--md-sys-color-primary);
        background-color: var(--md-sys-color-primary);
    }
}

