body {
    margin: 0;
    font-family: system-ui;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--md-sys-color-surface-container);
    > a {
        font-weight: bold;
        font-size: 1.3rem;
        margin-left: 5px;
        color: var(--md-sys-color-on-surface-container);
    }
    #pager:not(.hidden) {
        display: flex;
        align-items: center;
        > a {
            margin: 0 5px;
        }
    }
    #icons-row {
        margin-right: 20px;
    }
}

#content {
    padding: 70px 10px 40px 10px;
    overflow-x: auto;
    display: flex;
}

#greeting {
    > div {
        margin-top: 5px;
    }
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid;
}

td, th {
    padding: 0.5rem;
}

th {
    text-align: start;
}

dialog {
    border: none;
    border-radius: 20px;
    background: var(--md-sys-color-surface-container);
    > div {
        display: flex;
        flex-direction: column;
        > h2 {
            margin-block-start: 10px;
        }
        .buttons-row {
            align-self: end;
            margin-top: 20px;
        }
    }
}

#filters {
    .columns, .levels, .types {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .columns > div, .levels > div, .types > div {
        display: flex;
        align-items: center;
        margin-right: 5px;
    }
}

.hidden {
    display: none;
}

input[type=number], select {
    padding: 6px;
    background-color: transparent;
    border: 1px solid var(--md-sys-color-outline);
    border-radius: 4px;
}

