:root {
    font-family: "Roboto", system-ui;
}

a, p, span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

a, p, span, h1, h2, h3, h4, label, input[type=text], input[type=number], select {
    color: var(--md-sys-color-on-background);
}

body {
    margin: 0;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}

a[href] {
    text-decoration: none;
    color: var(--md-sys-color-primary);
    &:hover {
        text-decoration: underline;
    }
}
