body {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

main {
    > h1 {
        text-align: center;
    }
    > .card {
        width: 300px;
        background-color: var(--md-sys-color-surface-variant);
        padding: 10px;
        border-radius: 10px;
        margin: 10px 0;
        > h2 {
            margin: 0.2em 0;
        }
    }
    > div.about {
        margin-top: 30px;
    }
}

