name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 'latest'
      - uses: actions/checkout@v6
      - run: |
          npm install
          npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist